@mixin desktop {
  @media screen and (min-width: 700px) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-text: hsl(200, 15%, 8%);
  --font-family: "Nunito Sans", sans-serif;
  --clr-background: hsl(0, 0%, 98%);
  --clr-shadow: hsl(0, 0%, 92%);
  --clr-element: hsl(0, 0%, 100%);
  --clr-input: hsl(0, 0%, 52%);
}

$max-width: 1440px;
$font-size-sm: 0.8rem;
$font-size-normal: 1rem;
$font-size-large: 1.2rem;
$font-size-xl: 1.6rem;
$box-shadow: 0 0 10px var(--clr-shadow);

.dark {
  --clr-text: hsl(0, 0%, 100%);
  --clr-background: hsl(207, 26%, 17%);
  --clr-element: hsl(209, 23%, 22%);
  --clr-shadow: hsl(0, 0%, 98%);
}

body {
  font-family: var(--font-family);
  color: var(--clr-text);
  background: var(--clr-background);
  font-size: $font-size-normal;
}

.header {
  width: 100%;
  padding: 2rem 0.75rem;
  background: var(--clr-element);
  box-shadow: 0px 5px 10px var(--clr-shadow);

  .header__container {
    margin-inline: auto;
    max-width: $max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__name {
      font-size: $font-size-normal;
      font-weight: 800;

      @include desktop {
        font-size: $font-size-xl;
      }
    }

    .header__button {
      font-size: $font-size-normal;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-family: inherit;
      font-weight: 600;
      background: transparent;
      border: none;
      cursor: pointer;

      @include desktop {
        font-size: $font-size-large;
      }
    }
  }
}

.page-container {
  margin-inline: auto;
  max-width: $max-width;
}

.input-container {
  padding-block: 1.5rem;
  display: flex;
  flex-wrap: wrap;

  .searchbox-container {
    width: 80%;
    position: relative;

    .searchbox__icon {
      position: relative;
      left: 1rem;
      top: 50%;
      // transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }

    .searchbox__input {
      display: block;
      width: 100%;
      padding: 1rem 2.5rem;
      background-color: var(--clr-element);
      box-shadow: $box-shadow;
      border: none;
      border-radius: 5px;
      font-family: inherit;
      font-size: $font-size-normal;
    }
  }
}
